# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\z0044m3t\Downloads\spring-boot-tutorial-master\login-registration-springboot-hibernate-jsp-auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
